node_modules
coverage
**/195*
**/tenRecord.json
**/tenMillionRecord.json
**/tenMillionList.csv
**/smallList.csv
tenMillionList.csv
newrelic_agent.log
dump.rdb
tests
docker*


.gitignore
.eslintrc
.eslint
.git
dockerpostgres
mongo_docker
